node_modules
.git
.github
.husky
.opencode
.playwright-mcp
e2e
tsp-output
.tsp-cache
**/dist
**/.env
**/.env.*
*.md
AGENTS.md
.commitlintrc.json
.gitignore
.release-please-manifest.json
release-please-config.json
CHANGELOG.md
